.navigationBar {
    height: 5rem;
    width: inherit;
    background-color: #ffffff;
}

.navigationBarContent {
    margin: 0rem 1rem 0rem 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.companyLogo{
    margin: 0rem 1rem 0rem 2rem;
    font-weight: 1000;
    color: #0370ff 
}

.searchBar {
    border: 2px dashed #0370ff;
    border-radius: 10px;
}