.jobBox {
    display: flex;
    flex-wrap: wrap;
    width: 22rem;
    height: 30rem;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 15px;
    background: white;
}

.companyImage {
    margin-top: 1.8rem;
    margin-left:1rem;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.sendInvite {
    margin-left: 2rem;
}
