.keywordsBox {
    display: flex;
    margin: 0rem 1rem 0rem 1rem;
    height: fit-content;
    width: 40rem;
    flex-wrap: wrap;
    min-height: 2rem;
    border: 2px solid #0370ff;
    border-radius: 5px;
}

.keyword {
    margin: 0.25rem 1rem 0.25rem 1rem;
    color: #0370ff;
    font-weight: 600;
}

.addSkillBtn {
    color: #0370ff;
    font-weight: 600;
}